section {
  display: grid;
  place-content: center;
  height: 90vh;
}
label {
  font-size: 1.2rem;
  display: block;
  padding-bottom: 8px;
}
.form {
  max-width: 500px;
  width: 500px;
  margin: 0 auto;
}

form {
  padding: 8px 0;
}
input,
textarea {
  width: 100%;
  padding: 8px;
  resize: none;
}
.form-group {
  gap: 8px;
  align-items: center;
  padding: 16px 0;
}
.avatar {
  max-width: 100px;
}
.button {
  padding-left: 32px;
}
.bg-primary {
  background-color: var(--mainColor);
  font-weight: 700;
  color: #fff;
}
.bg-secondary {
  background-color: var(--secondaryColor);
  font-weight: 700;
}
